body {
  height: 100vh;
}

/* gradient color to all forms of text */

h1 {
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p,
h2,
h3 {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #26282a;
  width: 95px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 50px #f7afb0;
  border-radius: 8px;
}
