.text-center {
  text-align: center;
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
  height: 100vh;
}

h1 {
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 10px;
}

h3 {
  font-size: 22px;
  padding-bottom: 20px;
}

button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
}

button.active-button {
  background-color: #007bff;
  color: #fff;
}

button:focus {
  outline: none;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.form-button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.form-button:focus {
  outline: none;
}

.active-button {
  background-color: #007bff;
  color: #fff;
}

.choice {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  width: 50%;
  margin: 150px auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height: fit-content;
}
