.text-center {
  text-align: center;
  /* background-image: radial-gradient(circle at 10% 20%, rgb(69, 86, 102) 0%, rgb(34, 34, 34) 90%); */
  /* border: 1px solid red; */
  min-height: 100vh;
  height: fit-content;
  padding-bottom: 50px;
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(69, 86, 102) 0%,
    rgb(34, 34, 34) 90%
  );
}

h1 {
  font-size: 24px;
  padding-top: 50px;
  margin-bottom: 20px;
}

button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
}

button.active-button {
  background-color: #007bff;
  color: #fff;
}

button:focus {
  outline: none;
}

.form-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.form-button {
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.form-button:focus {
  outline: none;
}

.active-button {
  background-color: #007bff;
  color: #fff;
}

.choice {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 15px;
  margin-top: 150px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.connections {
  display: flex;
  justify-content: space-between;
}

.connection {
  width: 25%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(85, 85, 85, 0.295);
  padding-right: 55px;
}

.connection button {
  margin: 10px;
}

.data {
  margin-top: 50px;
  width: 70%;
  display: flex;
}

.graph {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  padding: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details h3 {
  text-align: left;
  padding-left: 10%;
}

.details p {
  text-align: left;
  padding-left: 10%;
}
